@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/*
 * General Style
 */
body{
    background-image: url(../image/gradient.png);
    background-repeat: repeat-x;
}

main{
    width: 950px;
    height: auto;
    margin: 0 auto;
}

header{
    width: 950px;
    height: 100px;
    background: url(../image/header.png);
    background-repeat: no-repeat;
    border: 8px;
    border-style: solid;
    border-color: #21230b;
}

footer{
    width: 950px;
    height: 100px;
    background: url(../image/footer.png);
    background-repeat: no-repeat;
    border-left: 8px;
    border-right: 8px;
    border-style: solid;
    border-color: #21230b;
}

aside{
    width: 950px;
    height: 100px;
    border-left: 8px;
    border-right: 8px;
    border-style: solid;
}

.ad{
    width: 728px;
    height: 90px;
    margin: 0 auto;
    padding: 5px 0 5px 0;
}


/*
 * Main Menu Style
 */ 
.fundoGame{
    width: 950px;
    height: 550px;
    background-image: url(../image/bg.png);
    border: solid 8px #21230b;
    background-repeat: repeat-x;
}
.inicio{
    width: 950px;
    height: 550px;
    background: url(../image/title.png);
}

/*
 * InGame Style
 */

.player{
    width: 100px;
    height: 115px;
    background-image: url(../image/player.png);
    animation: player-animation .5s steps(4) infinite;
    position: relative;
    left: 50px;
    top: 15px;

    -webkit-animation: player-animation .5s steps(4) infinite;
    -moz-animation: player-animation .5s steps(4) infinite;
    -ms-animation: player-animation .5s steps(4) infinite;
    -o-animation: player-animation .5s steps(4) infinite;
}
@keyframes player-animation{
    from{background-position: 0px;}
    to{background-position: -400px;}
}

.missile{
    width: 220px;
    height: 75px;
    background-image: url(../image/missile.png);
    position: relative;
    left: 800px;
    animation: missile-animation .5s steps(5) infinite;

    -webkit-animation: missile-animation .5s steps(5) infinite;
    -moz-animation: missile-animation .5s steps(5) infinite;
    -ms-animation: missile-animation .5s steps(5) infinite;
    -o-animation: missile-animation .5s steps(5) infinite;
}
@keyframes missile-animation{
    from{background-position: 0px;}
    to{background-position: 1100px;}
}
.obstacle{
    width: 110px;
    height: 270px;
    background-image: url(../image/obstacle.png);
    position: relative;
    left: 800px;
    animation: obstacle-animation .5s steps(10) infinite;

    -webkit-animation: obstacle-animation .5s steps(10) infinite;
    -moz-animation: obstacle-animation .5s steps(10) infinite;
    -ms-animation: obstacle-animation .5s steps(10) infinite;
    -o-animation: obstacle-animation .5s steps(10) infinite;
}
@keyframes obstacle-animation{
    from{background-position: 0px;}
    to{background-position: -1100px;}
}

.scientist{
    width: 64px;
    height: 105px;
    background-image: url(../image/scienstist.png);
    position: relative;
    top: -100px;
    left: 120px;
    animation: scientist-animation .5s steps(4) infinite;

    -webkit-animation: scientist-animation .5s steps(4) infinite;
    -moz-animation: scientist-animation .5s steps(4) infinite;
    -ms-animation: scientist-animation .5s steps(4) infinite;
    -o-animation: scientist-animation .5s steps(4) infinite;
}
@keyframes scientist-animation{
    from{background-position: 0px;}
    to{background-position: -260px;}
}



.disparo{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: darkorange;
    position: relative;
}

.explosao{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoPlayer{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoNpc{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoAmigo{
    width: 256px;
    height: 256px;
    position: absolute;
}
.pontos{
    font-size: 50px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
    left: 430px;
    top:30px;
}
.vitoria{
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: deeppink;
    color: floralwhite;
    font-size: 30px;
    border-radius: 200px;
    padding: 10px;
    margin: 0 auto;
}
.vitoria h1{
    padding-top: 50px;
}