@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body{
    background-image: url(../image/gradient.png);
    background-repeat: repeat-x;
}
main{
    width: 950px;
    height: auto;
    margin: 0 auto;
}
.fundoGame{
    width: 950px;
    height: 550px;
    background-image: url(../image/bg.png);
    border: solid 8px #21230b;
    background-repeat: repeat-x;
}
.inicio{
    width: 250px;
    height: 250px;
    padding: 10px;
    text-align: center;
    background: url(../image/bginicio.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 125px;
    border-radius: 200px;
}
.inicio h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
    color: #ffffff;
}
.inicio p{
    font-family: 'Syne Mono', monospace;
    color: #ffffff;
    font-size: 16px;
    margin-top: -20px;
}
.player{
    width: 128px;
    height: 128px;
    background-image: url(../image/player.png);
    animation: play .5s steps(3) infinite;
    position: relative;
    left: 50px;
    top: 15px;

    -webkit-animation: play .5s steps(3) infinite;
    -moz-animation: play .5s steps(3) infinite;
    -ms-animation: play .5s steps(3) infinite;
    -o-animation: play .5s steps(3) infinite;
}
@keyframes play{
    from{background-position: 0px;}
    to{background-position: -384px;}
}

.inimigo{
    width: 128px;
    height: 128px;
    background-image: url(../image/inimigo.png);
    position: relative;
    left: 800px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    animation: inimi .5s steps(3) infinite;

    -webkit-animation: inimi .5s steps(3) infinite;
    -moz-animation: inimi .5s steps(3) infinite;
    -ms-animation: inimi .5s steps(3) infinite;
    -o-animation: inimi .5s steps(3) infinite;
}
@keyframes inimi{
    from{background-position: 0px;}
    to{background-position: -384px;}
}
.npc{
    width: 128px;
    height: 128px;
    background-image: url(../image/npc.png);
    position: relative;
    top: 130px;
    left: 800px;
    animation: npcanima .5s steps(3) infinite;

    -webkit-animation: npcanima .5s steps(3) infinite;
    -moz-animation: npcanima .5s steps(3) infinite;
    -ms-animation: npcanima .5s steps(3) infinite;
    -o-animation: npcanima .5s steps(3) infinite;
}
@keyframes npcanima{
    from{background-position: 0px;}
    to{background-position: -384px;}
}

header{
    width: 950px;
    height: 100px;
    background: url(../image/bgtopo.jpg);
    background-repeat: no-repeat;
    border: 8px;
    border-style: solid;
    border-color: #21230b;
}
.logo{
    width: 188px;
    height: 100px;
    margin: 0 auto;
}
aside{
    width: 950px;
    height: 100px;
    border-left: 8px;
    border-right: 8px;
    border-style: solid;
}
.banner{
    width: 728px;
    height: 90px;
    margin: 0 auto;
    padding: 5px 0 5px 0;
}
footer{
    width: 950px;
    height: 100px;
    background: url(../image/rodape.jpg);
    background-repeat: no-repeat;
    border-left: 8px;
    border-right: 8px;
    border-style: solid;
    border-color: #21230b;
}
.disparo{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: darkorange;
    position: relative;
}
.amigo{
    width: 80px;
    height: 110px;
    background-image: url(../image/friend.png);
    background-repeat: no-repeat;
    position: relative;
    top: 60px;
    left: 120px;
}
.explosao{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoPlayer{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoNpc{
    width: 250px;
    height: 241px;
    position: absolute;
}
.explosaoAmigo{
    width: 256px;
    height: 256px;
    position: absolute;
}
.pontos{
    font-size: 50px;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
    left: 430px;
    top:30px;
}
.vitoria{
    width: 300px;
    height: 300px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: deeppink;
    color: floralwhite;
    font-size: 30px;
    border-radius: 200px;
    padding: 10px;
    margin: 0 auto;
}
.vitoria h1{
    padding-top: 50px;
}